#game-view-wrapper {
    position: relative;
}

#status-panel {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #ccd1e3;
}

#status-panel p {
    text-align: right;
}